fastapi==0.120.2
uvicorn[standard]==0.38.0
python-multipart==0.0.9
numpy==2.2.6
librosa==0.11.0
soundfile==0.13.1
tensorflow==2.20.0
tensorflow-hub==0.16.1
pandas==2.2.3
scipy==1.14.1
noisereduce==3.0.0
apscheduler==3.10.4
pytz==2024.2
imageio-ffmpeg==0.4.9
annotated-types==0.7.0
pydantic==2.9.2
pydantic-core==2.23.4
starlette==0.41.3
click==8.1.8
h11==0.14.0
typing-extensions==4.12.2
audioread==3.0.1
decorator==4.4.2
joblib==1.4.2
lazy-loader==0.4
msgpack==1.0.8
numba==0.60.0
pooch==1.8.2
cffi==1.16.0
absl-py==2.1.0
astunparse==1.6.3
flatbuffers==24.3.25
gast==0.5.4
google-pasta==0.2.0
grpcio==1.64.1
h5py==3.12.1
keras==3.5.0
libclang==18.1.1
ml-dtypes==0.4.1
opt-einsum==3.3.0
packaging==24.1
protobuf==4.25.5
requests==2.32.3
setuptools==75.2.0
six==1.16.0
tensorboard==2.17.0
termcolor==2.5.0
wrapt==1.16.0